body {
  /* color: #fff; */
  font-size: 16px;
  /* font-weight: 400;
  line-height: 1.4; */
}
.inner {
  position: relative;
  width: 1296px;
  margin: 0 auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  text-align: center;
}
.inner .head-line {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner .head-line svg {
  width: 430px;
}
/* header */
.inner .menus {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
  padding: 5px 0 4px;
  box-sizing: border-box;
}
.inner .menus button {
  border: none;
  background: none;
  margin: 6px;
  cursor: pointer;
}

.inner .menus button:hover {
  background-color: #f5f5dc;
  border-radius: 4px;
}
.search {
  display: flex;
  transform: translate(80%, 40px);
}
.search #search-input {
  width: 38px;
  height: 36px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width 0.4s; /* 검색창이 자연스럽게 늘어나기! */
}

/* focus 를 통해서 검색창 늘리기 */
.search #search-input:focus {
  width: 194px;
  border-color: royalblue;
}
#search-button {
  display: flex;
  background-color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
}
/* 돋보기 모양 정렬*/
.inner #search-button .material-icons {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 24px;
  margin: auto; /* 수직 가운데 정렬 */
  transition: 0.4s;
  left: 7px;
}
/* 돋보기 아이콘 사라짐 */
.inner .search.focused #search-button .material-icons {
  opacity: 0;
}

/* section main */
#header-board {
  position: relative;
  width: 1296px;
  margin: 0 auto;
  top: 180px;
}
#header-board .inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#header-board .news-list {
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
}

#header-board .inner .news-list .img-area {
  display: flex;
  top: 0;
}
#header-board img {
  max-width: 100%;
  max-height: 250px;
  width: auto;
}
#header-board .text-area {
  margin-left: 30px;
  line-height: 30px;
}

.pagination {
  display: flex;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}
